<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  
   <!-- Spring和mybatis的配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-mybatis.xml</param-value>
    </context-param>
    <!-- 编码过滤器 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 权限控制拦截器 
    <filter>
    	<filter-name>accessController</filter-name>
    	<filter-class>com.auctionion.filter.AccessControllerFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>accessController</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>-->
    
    <!-- 跨域的支持 -->
  <!--<filter>-->
  <!--<filter-name>CorsFilter</filter-name>-->
  <!--<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>-->
  <!--<init-param>-->
        <!--<param-name>cors.allowed.origins</param-name>-->
        <!--<param-value>*</param-value>-->
  <!--</init-param>-->
  <!--<init-param>-->
        <!--<param-name>cors.support.credentials</param-name>-->
        <!--<param-value>true</param-value>-->
  <!--</init-param>-->
<!--</filter>-->
<!--<filter-mapping>-->
  <!--<filter-name>CorsFilter</filter-name>-->
  <!--<url-pattern>/*</url-pattern>-->
<!--</filter-mapping>-->
    <!---->
    
    <!-- 常见异常处理器 -->
    <!--  现在先注释掉，否则看不到错误信息
    <filter>
     <filter-name>exceptionHanderFilter</filter-name>
     <filter-class>com.auctionion.filter.ExceptionHandlerFilter</filter-class>
     </filter>
     <filter-mapping>
     <filter-name>exceptionHanderFilter</filter-name>
     <url-pattern>/*</url-pattern>
     </filter-mapping>
      -->

    <!--用户权限认证过滤器-->
    <!--<filter>
        <filter-name>authenticationFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetBeanName</param-name>
            <param-value>authenticationFilter</param-value>
        </init-param>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>excludePatterns</param-name>
            <param-value>/register/authenticateFailed,/register/signup,/register/login</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>authenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <!-- Spring监听器 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- 防止Spring内存溢出监听器 -->
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <!-- Spring MVC servlet -->
    <servlet>
        <servlet-name>SpringMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping> 
     <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.eot</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.svg</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping> 
    
    <servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping> 
    
    <!--   使用https的安全协议，要申请到证书才能使用
    <security-constraint>
    <web-resource-collection>
        <web-resource-name>https</web-resource-name>
        <url-pattern>/user/login</url-pattern>
     
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint> 
    
    -->
    
    <welcome-file-list>
      
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>


    <!--异常处理-->
    <!--<error-page>-->
        <!--<error-code>500</error-code>-->
        <!--<location>/error/500</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<error-code>404</error-code>-->
        <!--<location>/error/404</location>-->
    <!--</error-page>-->
    <!--<error-page>-->
        <!--<error-code>400</error-code>-->
        <!--<location>/error/400</location>-->
    <!--</error-page>-->

</web-app>
